<footer class="bg-app-secondary text-white  text-center">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-4">
                <h2>location</h2>
                <address>2215 John Daniel Drive
                    <span class="d-block">Clark, MO 65243</span>
                </address>
            </div>
            <div class="col-md-4 ">

                <h2>AROUND THE WEB</h2>
                <ul class="list-unstyled text-center">
                    <li class="border rounded-circle d-inline-flex align-items-center justify-content-center m-1">
                        <i class="fab fa-facebook-f"></i>
                    </li>
                    <li class="border rounded-circle d-inline-flex align-items-center justify-content-center m-1">
                        <i class="fab fa-twitter"></i>

                    </li>
                    <li class="border rounded-circle d-inline-flex align-items-center justify-content-center m-1">
                        <i class="fab fa-linkedin-in"></i>
                    </li>
                    <li class="border rounded-circle d-inline-flex align-items-center justify-content-center m-1">
                        <i class="fab fa-instagram"></i>
                    </li>

                </ul>
            </div>

            <div class="col-md-4">
                <h2>ABOUT FREELANCER</h2>
                <span>Freelance is a free to use, licensed Bootstrap theme created by Route</span>

            </div>


        </div>
    </div>
    <p class="bg-app-secondary-dark py-3 mb-0">
    Copyright © Your Website {{ date }}
</p>

</footer>