<section class="py-4">
<div class="container">
    <header class="text-center ">
    <h1 class="text-uppercase fw-bold">
        portfolio component
    </h1>
</header>
<div class="my-3">
    <app-star-line [hascolor]="false" />
</div>


    <div class="row g-4 my-4">
   @for(image of  imagesArr; track $index){
     <div class="col-md-4">
        <div class="rounded overflow-hidden position-relative">
            <img class="w-100" [src]="image.imgSrc" [alt]="image.imageAlt">
            <span class=" layer position-absolute top-0 start-0 end-0 bottom-0 d-flex justify-content-center align-items-center">
                <i class="fas fa-plus text-white"></i>
            </span>
        </div>
    </div>
   }
          
</div>
</div>

</section>



