<section class="py-5">
<div class="container">
    <header class="text-center ">
    <h1 class="text-uppercase fw-bold">
        contact section
    </h1>
</header>
<div class="my-3">
    <app-star-line [hascolor]="false" />
</div>
<div class="container w-50">
<input class="form-control my-5" type="text" placeholder="userName">
<input class="form-control my-5" type="text" placeholder="userAge">
<input class="form-control my-5" type="text" placeholder="userEmail">
<input class="form-control my-5" type="text" placeholder="userPassword">
<button type="button" class="btn btn-info text-white">send message</button>
</div>
</div>
</section>



